/* ------------------------------------------------------------------------------------------ */
/* CSS Reset
/* ------------------------------------------------------------------------------------------ */

*, *::before, *::after {
  box-sizing: border-box;                         /* Simplify Box Size calculations           */
  padding: 0;                                     /* Remove default Padding values            */
  margin:  0;                                     /* Remove default Margin  values            */
}

:has(:target) {
  scroll-behavior: smooth;                        /* Enable Smooth Scrolling                  */
  scroll-padding-block: 2rem;                     /* Offset between the Target and Viewport   */
}

html {
  color-scheme: dark light;                       /* Use User-Agent styles for Dark Theme     */
  line-height: 1;                                 /* Remove spacing caused by Line Height     */
  hanging-punctuation: first last;                /* Improve Typography for Punctuations      */
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;                             /* Balance the # of characters on each line */
}

p, li {
  text-wrap: pretty;                              /* Prevent Widows and Orphans               */
  line-height: 1.5;                               /* Make Text more readable                  */
}

input, button, textarea, select {
  font: inherit;                                  /* Make Form Fonts consistent               */
}

img, picture, svg, video, canvas {
  display: block;                                 /* Make Media elements Block-Level          */
  max-inline-size: 100%;                          /* Prevent Media elements from overflowing  */
}

/* ------------------------------------------------------------------------------------------ */
/*
main {
  padding: 2rem;
  display: flex;
  gap: 2rem;

  & > * {
    flex: 1 1 0;
  }
}

section {
  padding: 2rem;
  border: 0.25rem solid #BBB;
  border-radius: 1rem;
  display: grid;
  gap: 2rem;

  &.portfolio {
    grid-template-columns: repeat(6,1fr);
  }
}

section.realized,
section.transactions {
  display: none;
}

section.portfolio {
  max-inline-size: 60rem;
  margin-inline: auto;
}

section h2 {
  grid-column: 1 / -1;
}

section header {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

details {
  display: contents;
  summary,
  & > div {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
  }
}*/
